.cascading-right {
    margin-right: -50px;
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}

.sinform{
    padding-left: 123px;
    padding-right: 123px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}
