@{
    ViewData["Title"] = "Contact Us";
    Layout = "_LayoutClient";
}
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            Contact Us
        </h1>
        <p class="fs-5 text-white mb-4">Help today because tomorrow you may be the one who needs more helping!</p>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Client" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active text-white">@ViewData["Title"]</li>
        </ol>
    </div>
</div>

