@model UserAdd
@{
    ViewData["Title"] = "Sign Un";
    Layout = "_LayoutClient";
}
<div class="container-fluid"></div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">

    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign up now</h2>

                        <form method="post" enctype="multipart/form-data">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form3Example1" class="form-control" placeholder="First name" asp-for="Name" required />
                                        <label class="form-label" for="form3Example2"></label>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form3Example2" class="form-control" placeholder="Last name" asp-for="Prenome" required />
                                        <label class="form-label" for="form3Example2"></label>
                                        <span asp-validation-for="Prenome" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control" placeholder="Email address" asp-for="Email" required />
                                <label class="form-label" for="form3Example3"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control" placeholder="Password" asp-for="Password" required />
                                <label class="form-label" for="form3Example3"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="form3Example5" class="form-control" placeholder="Confirm Password" asp-for="ConfirmePassword" required />
                                <label class="form-label" for="form3Example5"></label>
                                <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                            </div>

                            <p>I already have an account <a asp-area="" asp-controller="Client" asp-action="sign_in">Sign in !!</a></p>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>
                        </form>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>or sign up with:</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="~/img/library-1.jpg" class="w-100 rounded-4 shadow-4"
                     alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->